<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Mox converts your speech to text while you use voice input.</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>Mox uses accessibility access to paste transcribed text into the app you are using.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.enchanted.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>enchanted</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
